<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="NodeId" value="3abc6a1a-170e-40c2-964f-5c775976131e"/>
    <add key="host" value="localhost"/>
    <add key="port" value="12346"/>
    <add key="nodeId" value="Node 2"/>
    <add key="logLevel" value="1"/>     <!-- 0=None | 1=Errors | 1=Warnings | 3=Trace -->
    <add key="checkpointFolder" value=".\checkpoints\"/>
    <add key="cryptoProvider" value="ED25519"/> <!-- RLWE | ED25519 -->
    <add key="registerNodes" value="localhost:12345"/>
    <add key="miner_difficulty_min_seconds" value="10"/>  <!-- minimum seconds -->
    <add key="miner_difficulty_rnd_seconds" value="20"/>  <!-- random seconds -->
  </appSettings>
</configuration>
